<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
  <title>News Update</title>
  <style>
    
  </style>
</head>
<body>
  <div class="container">
    <div class="row">
      <div class="col-md-6 m-auto">
        <h1 class="text-center display-4 my-4">News Update</h1>
        <div class="text-center">
            <a class="btn btn-dark mt-4 mb-4" href="/" role="button">Homepage</a>
            <a class="btn btn-dark mt-4 mb-4" href="/upload" role="button">Upload News</a>
            <a class="btn btn-dark mt-4 mb-4" href="/update" role="button">Update News</a>
            <a class="btn btn-dark mt-4 mb-4" href="/delete" role="button">Delete News</a>
          </div>
        <h3 id='msgText' class='text-center mb-4 mt-4'><%= typeof msg != 'null' ? msg : ""; %></h3>
        <form action="/update?_method=PUT" method="POST" enctype="multipart/form-data">
          <div class="form-group mb-5">
            <input type="text" class="form-control" name="oldTitle" placeholder="Old News Title">
          </div>
          <div class="form-group">
            <input type="text" class="form-control" name="newTitle" placeholder="New News Title">
          </div>
          <div class="custom-file mb-3">
            <input type="file" name="myImage" class="custom-file-input" >
            <label for="myImage" class='custom-file-label'>Choose Image</label>
          </div>
          <div class="form-group">
            <textarea class="form-control" id="newsText" rows="3" name='newsText' style="resize: none" placeholder="News Text"></textarea>
          </div>
          <input id='submitButton' type="submit" value="Update News" class="btn btn-primary btn-block">
        </form>
      </div>
    </div>
    <div class="row mt-2 p-3">
        <!-- <% if(typeof file !== 'undefined') { %>
        <div class="col-md-6 m-auto border p-2">
        
          <img class="img-fluid rounded float-left img-thumbnail col-md-6 mt-2 p-2" src="uploads/<%= file %>" >
          <h4 class = "col-md-6 float-right mt-5"><%= title %></h4>
        <% } %> -->
      </div>
    </div>  
    
  </div>  
  <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js" integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous"></script>
</body>
</html>